#add-book {
  display: none;
}

a.material-icons {
  cursor: pointer;

  &.check {
    color: green;
  }

  &.clear {
    color: red;
  }

  &.delete {
    color: black;

    &:hover {
      color: orange;
    }
  
    &:active {
      color: red;
    }
  }
}

.read-column {
  text-align: center;
}