html, body {
  height: 100%;
}

a.material-icons {
  cursor: pointer;

  &.check {
    color: green;
  }

  &.clear {
    color: red;
  }

  &.delete {
    color: black;

    &:hover {
      color: orange;
    }
  
    &:active {
      color: red;
    }
  }
}

.read-column {
  text-align: center;
}

.modal {
  div.row {
    margin: 0;
  }

  .col {
    height: 100%;
  }
 
  #read-it{
    height: 2em;
  }

}

#modal-actions button {
  margin-top: 20px;
}

button {
  overflow: wrap;
  width: 100%;
}