html, body {
  height: 100%;
}

a.material-icons {
  cursor: pointer;

  &.check {
    color: green;
  }

  &.clear {
    color: red;
  }

  &.delete {
    color: black;

    &:hover {
      color: orange;
    }
  
    &:active {
      color: red;
    }
  }
}

.read-column {
  text-align: center;
}

.modal .col {
  height: 100%;
 
  #read-it{
    height: 2em;
  }

}

button {
  width: 100%;
}